<!DOCTYPE html>
<html>
<head>
  <title>My blog</title>

</head>
<body>
  <h2>Blog of <%= @blogname%></h2>
  <br>
  <br>
  <% @posts[@page].each_with_index do |post,i| %>
  <h4><a href="/post_details/<%=@page%>/<%=i%>"><%=post.title%></a></h4>
  <%end%>

  <%@number_pages.each_with_index do |page,i|%>
    <%if @page == page%>
    <b><%= page %></b>
    <% else %>
    <%= page %>
    <%end%>
  <%end%>

  <form action="/pages" method="POST">
    <button type="submit" name="prevornext" value="pre">Previous</button>
    <button type="submit" name="prevornext" value="next">Next</button>
    <input type="hidden" name="page" value="<%=@page%>">
  </form>
  <h4><a href="/new_post">New post</a></h4>

</body>
</html>
