<h1>Product info</h1>
<h2><b><%= @product.title %></b></h2>
<h2><%= @product.description %></h2>
<h3>Deadline: <%= @product.deadline %></h3>
<h4>User: <%= @product.user.name %></h4>
<h1>Bids</h1>
<ul>
  <% @bids.each do |bid| %>
  <li><%= bid.amount %>€ - <%= bid.user.name %></li>
  <% end %>
</ul>
